

main{
    box-sizing: border-box;
    background-color: var(--main-color);
    margin: 0 auto;   
    display: grid;
    grid-template-columns: 1fr;

    
}




article, footer{
    border: 1px solid black;
}

article{
    grid-template-columns: 1fr 1fr;
}

h4{
  font-weight: lighter;
}

#pfp{
    border-radius: 50%;
    width: 135px;
    height: 135px;
    margin-left: 20px;
    object-fit: cover;
    margin-top:  35px;
}



#profil_info p{
   display: grid;
   grid-template-columns: 1fr 1fr;
}





#gombok {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#gombok #gomb1{
    background-color: rgb(39, 79, 212);

}

#gombok button{
    background-color: #262626;
    color: white;
    border: none;
    border-radius: 8px;      
    font-weight: bold;
    padding: 8px 16px;
    width: 200px;
    min-width: 100px;
    height: 32px;
    margin-right: 20px;
}




#posztok{
    grid-column: 1 / span 2; /*ez azt csinálja hogy kivonja ezt a részt az article alapértelmezett 1fr 1fr től */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 200px; 
    margin-top: 80px;
    margin-bottom: 60px;
    margin-left: 40px;
    border-bottom: 1px solid #333; 
    padding-bottom: 15px;
}


#posztok img {
    max-width: 40px;
    height: auto;
}

#kepek{
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#kepek img{
    width: 100%;

}


.post_story {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;            
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(12px);
    z-index: 9998;
    justify-content: center;
}

.show_post {
    display: none;
    position: fixed;  
    inset: 0;       
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}

#close_button {
    z-index: 9999;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    color: black;
    border: black 2px solid;
    border-radius: 15px;
}

#close_button:hover {
    background: var(--instagram-gradient);
    color: #353434;
    border: none;
}

 
.wrapper {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); /*AI, a top:50% és left:50%al működik együtt, hogy középre helyezze a storyt*/
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.post_settings {
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    z-index: 9998;
    background-color: black;
}

.post_pfp {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--instagram-gradient);
    padding: 2px;
}

.post_username {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    padding-bottom: 2px;
    border-bottom: 2px solid black;
}

.post_uploader p {
    color: white;
    margin: 3px;
    padding-bottom: 0.3vh;
    border-bottom: 2px solid white;
}

#tartalek_commentek {
    display: none;
}

