header {
    grid-area: h;
}
 


section {
    min-width: 0;
}

.icons_nav {
    max-width: 20px;
    margin: 2px auto auto auto;
}

article {
    padding-bottom: 190px; /*Ideiglenes*/
}

.story_ring_msg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--instagram-gradient);
    padding: 5px;
    margin-left: 5px;
    margin-top: 20px;
}

.kep_msg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    margin-left: 5px;
    margin-top: 20px;
}

#message_first {
    border-top: 2px solid black;
    border-bottom: 2px solid black; 
    max-height: 80px;
    display: grid;
    grid-template-columns: 70px 1fr;
    padding-bottom: 15px;
}

#message_first a {
    font-size: 16px;
}

.last_message {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message {
    border-bottom: 2px solid black; 
    max-height: 80px;
    display: grid;
    grid-template-columns: 70px 1fr;
    padding-bottom: 15px;
}

.message a {
    font-size: 16px;
}

.last_message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

@media screen and (max-width: 1100px) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h"
        "ar";
    }
    
    aside {
        display: none;
    }

    body {
        max-width: 500px;
        grid-template-columns: 1fr;
        margin: auto;
        display: block;
        padding-bottom: 60px;
    }

    nav {
        display: block;
        position: fixed;
        left: auto;
        right: auto;
        top: auto;
        bottom: 0;
        margin-left: 0;
        padding: 0;
        height: auto;
        border: none;
        background: none;
        text-align: center;
        align-items: center;
    }

    nav li a:hover {
        transform: none;
    }

    #logo {
        display: none;
    }

    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 500px;
        margin: 0 auto;
        padding: 0;
        background-color: var(--main-color);
        align-items: center;
    }

    nav li {
        list-style: none;
        display: inline-block;
        margin: 0 auto;
    }

    nav a {
        display: grid;
        justify-items: center;
        align-items: center;
        font-size: 12px;
    }

    nav img {
        width: 15px;
    }
}

@media screen and (max-width: 500px) {
    main {
        max-width: 400px;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h"
        "ar";
    }
    
    aside {
        display: none;
    }

    body {
        max-width: 400px;
        width: 100%;
        grid-template-columns: 1fr;
        margin: auto;
        display: block;
        padding-bottom: 60px;
    }

    #logo {
        display: none;
    }

    nav ul {
        margin: auto;
        width: 400px;
        gap: 7vh;
        width: 100%;
    }

    .last_message {
        width: 300px;
    }

    .stories {
        gap: 40px;
    }

    .story_settings {
        max-width: 400px;
    }
    #close_button {
        top: 0;
    }

    .wrapper {
        max-width: 400px;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 80vw;
    }

    .story_settings {
        display: block;
        width: 100%;
        height: auto;
        z-index: 9998;
        background-color: black;
    }

    header {
        max-width: 400px;
        width: 100%;
    }

    article {
        width: 100%;
        max-width: 400px;
    }

}
