 :root {
--bg-color: #EEEEEE;
--text-color: #000000;
--accent-color: #833AB4;
--main-color: rgb(255, 255, 255);
--instagram-gradient: conic-gradient(
    from 180deg,
    #fdf497 0deg,
    #fdf497 30deg,
    #fd5949 90deg,
    #d6249f 180deg,
    #285AEB 270deg,
    #fdf497 360deg
 
);
}

#logo {
    display: grid;
    grid-auto-flow: column;
    justify-content: right; 
    gap: 15px;
    align-items: center
}

#logo h1 {
    font-family: "Brush Script MT", cursive;
}
 
#logo img {
    border-right: 1px solid black; 
    padding-right: 15px;             
    margin-right: 5px;               
    width:  35px; 
}

nav {
    margin-top: 10px;
    justify-self: start;
    padding-left: 30px;
    padding-right: 50px;
    border-right: 3px solid black;
    position: sticky;
    top: 0;
    height: 100vh; 
}
 
nav li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
}

nav a {
    display: inline-block;
    transition: 0.3s;
}

nav li a:hover {
    transform: 
        scale(2.00);
}
 
body {
    display: grid;
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 1fr 800px 1fr ;
    margin: 0;
    justify-content: center; 
}

#Instagram_felirat {
    font-family: "Brush Script MT", cursive; 
}

main {
    display: grid;
    max-width: 800px;
    margin: auto;
    grid-template-columns: 500px 300px;
    grid-template-areas:
    "h h"
    "ar as";
}
 
header {
    grid-area: h;
    max-width: 500px;
    background-color: var(--main-color);
}
 
.story_ring { /*AI által adott ötlet, általam kivitelezett*/
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: var(--instagram-gradient);
    padding: 5px;
}

.pfp { 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    margin-top: 20px;
}

article section {
    align-content: end;
    display: grid;
    grid-template-rows: auto;
    height: 100vh;
    max-height: 880px;
    min-width: 0;
    padding-bottom: 10px;
}

.message_header {
    display: grid;
    grid-template-columns: 60px 200px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.message_main {
    overflow-y: auto;
    min-height: 0;
}

.message_main::-webkit-scrollbar {
    display: none;
}

.uzenet_on {
    display: block;
    background-color: #5881fd;
    color: white;
    padding: 7px;
    margin: 10px;
    border-radius: 15px;
    width: fit-content;
    max-width: 300px;
    margin-left: auto;
}

.uzenet {
    background-color: #45474d;
    color: white;
    padding: 7px;
    margin: 10px;
    border-radius: 15px;
    width: fit-content;
    max-width: 300px;
}

.uzenet a {
    color: blue;
    text-decoration: underline;
    font-size: 16px;
}

.uzenet_datum {
    margin: auto;
    text-align: center;
    color: lightslategray;
}

.hivas {
    display: grid;
    grid-template-columns: 1fr 50px;
    color: white;
    background-color: lightslategray;
    border-radius: 25px;
    margin: auto;
    text-align: center;
    max-width: 200px;
}

.hivas img {
    background-color: rgb(76, 86, 97);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: auto 50px auto auto;
}

.blokk {
    margin: 100px auto auto auto;
    text-align: center;
    color: lightslategray;
}

.blokk img {
    max-width: 100px;
}

.icons {
     max-width: 30px
}

.icons_nav {
    max-width: 20px;
    margin: 2px auto auto auto;
}
 
article {
    display: grid;
    width: 500px;
    margin: 0;
    padding: 3px;
    grid-area: ar;
    background-color: var(--main-color);
    min-width: 0;
    grid-template-rows: auto 1fr;
    padding-bottom: 0;
}

.story_ring_msg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--instagram-gradient);
    padding: 5px;
    margin-top: 20px;
}

.pfp_msg_kicsi {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
}

.ujember {
    display: inline-block;
    color: lightslategray;
    margin: 20px 0 0 0;
}

aside {
    display: grid;
    width: 300px;
    margin: 0;
    grid-area: as;
    height: 300px;
    position: sticky;
    top: 0;
}

.aside_profil img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-left: 10px;
}

.aside_profil {
    display: grid;
    grid-auto-flow: column;
}

#aside_content {
    background-color: var(--main-color);
    margin-left: 10px;
}

#nincsvisszaterites {
    font-size: 1px;
}

@media screen and (max-width: 1000px) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h"
        "ar";
    }
    
    aside {
        display: none;
    }

    body {
        max-width: 500px;
        grid-template-columns: 1fr;
        margin: auto;
        display: block;
        padding-bottom: 60px;
    }

    nav {
        display: block;
        position: fixed;
        left: auto;
        right: auto;
        top: auto;
        bottom: 0;
        margin-left: 0;
        padding: 0;
        height: auto;
        border: none;
        background: none;
        text-align: center;
        align-items: center;
    }

    nav li a:hover {
        transform: none;
    }

    #logo {
        display: none;
    }

    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 500px;
        margin: 0 auto;
        padding: 0;
        background-color: var(--main-color);
        align-items: center;
    }

    nav li {
        list-style: none;
        display: inline-block;
        margin: 0 auto;
    }

    nav a {
        display: grid;
        justify-items: center;
        align-items: center;
        font-size: 12px;
    }

    nav img {
        width: 15px;
    }
}

@media screen and (max-width: 500px) {
    main {
        max-width: 400px;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h"
        "ar";
    }
    
    aside {
        display: none;
    }

    body {
        max-width: 400px;
        width: 100%;
        grid-template-columns: 1fr;
        margin: auto;
        display: block;
        padding-bottom: 60px;
    }

    #logo {
        display: none;
    }

    nav ul {
        gap: 8vh;
        width: 100%;
    }
    header {
        max-width: 400px;
        width: 100%;
    }

    article {
        width: 100%;
        max-width: 400px;
    }

}